* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: #B4DFE5;
  align-items: center;
  padding: 5px 15px;
  justify-content: space-between;
}

.nav-bar{
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-item {
  margin-left: 20px;
}